.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
}
.cell {
  background: #ccc;
  border: solid 3px black;
  width: 50%;
}
.cell-1 {
  flex-basis: 100%;
}
@media (max-width: 600px) {
  .container { flex-wrap: nowrap; } /* new */
  .cell {
    width: 100%;
  }
  .cell-1 {
    order: 1;
  }
  .cell-2 {
    order: 2;
  }
  .cell-3 {
    order: 3;
  }
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}

/* @media (max-width: 500px) {
  .cell { width: 100%; }
  .cell-1 { order: 2; }
  .cell-2 { order: 1; }
  .cell-3 { order: 3; }
} */